:root {
  --primary-blue: #77BEF0;
  --primary-yellow: #FFCB61;
  --primary-orange: #FF894F;
  --primary-red: #EA5B6F;
  --white: #FFFFFF;
  --light-gray: #F5F5F5;
  --dark-blue: #1A4B8C;
  --light-blue: #B3DEF8;
  --purple: #6155F5;
}

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
  background-color: var(--light-gray);
}


@media (max-width: 480px) {
  html {
    font-size: 14px;
  }
}